# Ignore metadata
workspace/.metadata/*
# Ignore recommenders
workspace/.recommenders/*
# Ignore complied code
workspace/AutomationFramework/bin/*
# Ignore all classpath files
*.classpath
# Ignore all prefs files
*.prefs
# Ignore all project files
*.project
